.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  min-height: fit-content;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
.carousel-item img {
  width: 100%;
  height: auto;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
} /* rtl:begin:ignore */
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}
.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
} /* rtl:end:ignore */ /* rtl:options: {  "autoRename": true,  "stringMap":[ {    "name"    : "prev-next",    "search"  : "prev",    "replace" : "next"  } ]} */
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel-indicators .active {
  opacity: 1;
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  min-height: 100%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.carousel-control-prev {
  left: 0;
}
.carousel-control-next {
  right: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}body{
  max-width: 1920px;
  margin: auto;
  min-height: fit-content;
  max-height: 100%;
}
* {
  font-family: "Inter";
  font-style: normal;
}
#header {
  min-height: 275px;
}
.top-header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  min-height: fit-content;
  padding-inline: 100px;
  padding-block: 30px;
  align-items: center;
}

.top-header .name {
  width: fit-content;
  min-height: 32px;
  font-size: 26px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 0;
}

.nav li {
  padding-inline: 10px;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.social-link img {
  width: 20px;
  height: auto;
}

#about {
  display: flex;
  background-color: #f6d2b8;
  min-height: 500px;
  width: 100%;
  padding-inline: 100px;
  padding-block: 100px;
  position: relative;
}

.picture.left::before {
  content: " ";
  background-color: #e5975f;
  width: 374px;
  height: 329px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.picture {
  flex: 1;
  margin: 0 20px;
  z-index: 0;
}

.picture img {
  width: 100%;
  height: auto;
}
#about-me {
  width: 100%;
  min-height: fit-content;
  flex: 2;
}
.about-me__title {
  max-width: fit-content;
  min-height: 36px;
  margin-top: 1em;
  margin-bottom: 60px;
  font-size: 30px;
}
.about-me__introduction {
  font-family: "Spectral";
  font-weight: 800;
  font-style: italic;
  width: 60%;
  font-size: 1rem;
}
#about-me p {
  width: 80%;
  font-size: 14px;
}
#about,
#contact {
  padding-inline: 2em;
  padding-block: 2em;
}
#about {
  min-height: 820px;
  width: 100%;
}
#about-me {
  min-height: 346px;
  width: 100%;
}
@media all and (max-width: 1000px) {
  #about {
    flex-direction: column;
  }
  .picture {
    width: 50%;
  }
  .picture.left::before {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: auto;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .about-me__title {
    text-align: center;
    margin-top: 1em;
  }
}
@media all and (max-width: 1180px) {
  .picture {
    flex: 2;
  }
  #about,
  #contact .container {
    align-items: center;
  }
  .about-me__title {
    margin-top: 0;
    margin-bottom: 1em;
  }
  #about-me h3,
  #about-me p {
    width: 100%;
  }
}
@media all and (max-width: 650px) {
  .top-header .nav a {
    min-height: 21px;
    width: fit-content;
  }
  .top-header {
    flex-direction: column;
    padding-inline: 0;
  }
  .top-header .nav,
  .top-header .nav ul {
    width: 100%;
    padding: 0 0 0 0;
  }
  .top-header .nav li {
    flex: 1;
    padding-block: 1em;
    text-align: center;
  }
  .picture.left::before {
    height: 150px;
  }
  .picture {
    width: 80%;
  }
  header {
    min-height: 150px;
  }
  #header {
    min-height: 275px;
  }
  main {
    min-height: 3943px;
  }
  #contact {
    min-height: 951px;
  }
}

